@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fafafa;
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: 300 !important;
    font-style: italic;
  }
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  img {
    image-rendering: pixelated;
    image-rendering: crisp-edges; /* for some browsers */
  }

  .landing {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}